/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(style.css);
@import url(../styles/dropdown.css);
@layer base {
  html,
  body,
  :host {
    font-family: "Lexend Deca", sans-serif;
    /* font-family: "Poppins", sans-serif; */
    letter-spacing: 0.025em;
  }
  :root {
    --radius: 0.5rem;
  }
}
