@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600;700;800;900&display=swap");
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-lexend {
  font-family: "Lexend Deca", sans-serif;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: "Poppins", sans-serif;
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}
@keyframes gradient {
  100% {
    background-position: 200% center;
  }
}
.card {
  border: 1px solid #e2e8f0;
}
.card-hover {
  box-shadow: 0.2s ease-in-out;
  cursor: pointer;
  display: block;
  transition: 0.3s ease-in-out;
}
.card-hover:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  transform: translateY(-0.25rem);
}
.card-hover:hover span {
  border-color: #8b3dff;
}
.card-hover svg {
  fill: #7d8897;
}
.card-hover:hover svg {
  fill: #8b3dff;
}
.card-hover:hover .card-text {
  color: #8b3dff;
}

.card-lift {
  border-radius: 0.75rem;
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card-lift.active,
.card-lift:focus,
.card-lift:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  transform: translateY(-0.25rem);
}
.icon-xxl {
  height: 4rem;
  line-height: 4rem;
  width: 4rem;
}
.icon-shape {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.bg-gradient-blend {
  background: linear-gradient(160deg, #ffb7b7 9%, #727272 100%),
    radial-gradient(100% 100% at 30% 10%, #ffd1d1 0, #260000 100%),
    linear-gradient(180deg, #0ff 0, #fff 100%),
    radial-gradient(100% 100% at 70% 0, red 0, #f4dcd9 100%),
    linear-gradient(280deg, #dbff00 0, #30f 100%);
  background-blend-mode: screen, overlay, color-burn, color-dodge, normal;
}

/* Theme */

/* Buttons */
.btn {
  @apply relative flex items-center justify-center rounded-md border px-5 py-2.5 text-sm font-normal outline-none transition duration-300 hover:shadow-none;
  /* @apply text-center relative inline-flex appearance-none items-center justify-center rounded-lg text-sm leading-6 transition focus:outline-none focus-visible:ring-4 focus-visible:ring-offset-4 max-h-10 px-4 py-2 border; */
}

.btn-lg {
  @apply px-7 py-3.5 text-base leading-5;
}

.btn-sm {
  @apply px-2.5 py-1.5 text-xs;
}

.btn[disabled] {
  @apply cursor-not-allowed opacity-60;
}
.btn-circle,
.bg-circle,
.badge-circle {
  @apply !rounded-full;
}

.btn-primary {
  /* @apply border-blue-500 bg-blue-500 hover:border-blue-600 hover:bg-blue-600 active:border-blue-700 active:bg-blue-700 focus-visible:ring-blue-500 text-white font-medium; */
  @apply border-primary bg-primary hover:bg-primary/90 hover:border-primary/90 text-white shadow-primary/60;
}

.btn-primary-lg {
  @apply text-center relative inline-flex appearance-none items-center justify-center rounded-lg text-sm leading-6 transition focus:outline-none focus-visible:ring-4 focus-visible:ring-offset-4 max-h-10 px-4 py-2 border border-blue-500 bg-blue-500 hover:border-blue-600 hover:bg-blue-600 active:border-blue-700 active:bg-blue-700 focus-visible:ring-blue-500 text-white font-semibold w-full;
}

.btn-primary-lg span {
  @apply truncate transition-opacity opacity-100 flex-1;
}

.btn-outline-primary-lg {
  @apply text-center relative inline-flex appearance-none items-center justify-center rounded-lg text-sm leading-6 transition focus:outline-none focus-visible:ring-4 focus-visible:ring-offset-4 max-h-10 px-4 py-2 border border-gray-200 hover:border-gray-300 active:border-gray-300 bg-white hover:bg-gray-50 hover:text-gray-900 active:bg-gray-100 active:text-gray-900 focus-visible:ring-blue-500 text-gray-700 font-medium w-full;
}

.btn-outline-primary-lg span {
  @apply truncate transition-opacity opacity-100 flex-1;
}

.btn-outline-primary {
  @apply border-primary text-primary shadow-none hover:bg-primary hover:text-white;
}
.btn-light-primary {
  @apply border-primary-light bg-primary-light text-primary hover:bg-primary hover:border-primary hover:text-white;
}

.btn-secondary {
  @apply border-secondary bg-secondary text-white shadow-secondary/60;
}

.btn-outline-secondary {
  @apply border-secondary text-secondary shadow-none hover:bg-secondary hover:text-white;
}

.btn-light-secondary {
  @apply border-secondary-light bg-secondary-light text-secondary hover:bg-secondary hover:border-secondary hover:text-white;
}

.btn-outline {
  @apply border-gray-200 hover:border-gray-300 active:border-gray-300 hover:bg-gray-50 hover:text-gray-900 active:bg-gray-100 active:text-gray-900 focus-visible:ring-blue-500 text-gray-700 font-medium;
}

.btn-success {
  @apply border-success bg-success text-white shadow-success/60;
}

.btn-outline-success {
  @apply border-success text-success shadow-none hover:bg-success hover:text-white;
}
.btn-light-success {
  @apply border-success-light bg-success-light text-success hover:bg-success hover:border-success hover:text-white;
}
.btn-danger {
  @apply border-danger bg-danger text-white shadow-danger/60;
}

.btn-outline-danger {
  @apply border-danger text-danger shadow-none hover:bg-danger hover:text-white;
}
.btn-light-danger {
  @apply border-danger-light bg-danger-light text-danger hover:bg-danger hover:border-danger hover:text-white;
}

.btn-warning {
  @apply border-warning bg-warning text-white shadow-warning/60;
}

.btn-outline-warning {
  @apply border-warning text-warning shadow-none hover:bg-warning hover:text-white;
}
.btn-light-warning {
  @apply border-warning-light bg-warning-light text-warning hover:bg-warning hover:border-warning hover:text-white;
}

.btn-info {
  @apply border-info bg-info text-white shadow-info/60;
}

.btn-outline-info {
  @apply border-info text-info shadow-none hover:bg-info hover:text-white;
}

.btn-light-info {
  @apply border-info-light bg-info-light text-info hover:bg-info hover:border-info hover:text-white;
}

.btn-light-cyan {
  @apply text-cyan-500 bg-cyan-50 border-cyan-50 hover:bg-cyan-500 hover:border-cyan-500 hover:text-white;
}

.btn-dark {
  @apply border-dark bg-dark text-white shadow-dark/60;
}

.btn-outline-dark {
  @apply border-dark text-dark shadow-none hover:bg-dark/80 hover:text-white;
}

.btn-light-dark {
  @apply border-dark-light bg-dark-light text-dark hover:bg-dark hover:border-dark hover:text-white;
}

.btn-light {
  @apply text-gray-900 font-medium rounded-md bg-gray-100 border-gray-100 hover:border-gray-200 hover:bg-gray-200;
}
.btn-outline-light {
  @apply text-gray-900 font-medium rounded-md bg-white border-gray-200 hover:border-gray-200 hover:bg-gray-200;
}

.btn-gradient {
  @apply bg-gradient-to-r from-[#EF1262] to-[#4361EE] hover:to-[#EF1262] hover:from-[#4361EE] text-white;
}

.btn-save {
  @apply btn bg-[#EAEDEF] text-[#AXBOB4] text-base font-medium px-5 py-2;
}
.btn-link {
  @apply text-primary underline;
}
.link {
  @apply underline cursor-pointer;
}
.link-hover {
  @apply no-underline hover:underline;
}
.link-primary {
  @apply text-primary hover:text-primary/75;
}
.link-warning {
  @apply text-warning hover:text-warning/75;
}
.link-info {
  @apply text-info hover:text-info/75;
}
.link-success {
  @apply text-success hover:text-success/75;
}
.link-danger {
  @apply text-danger hover:text-danger/75;
}
.link-dark {
  @apply text-dark hover:text-dark/75;
}

/* Buttton icons */
.btn-icon {
  @apply relative mx-auto h-10 w-10 border inline-flex items-center justify-center rounded-md transition duration-300;
}
.btn-icon-circle {
  @apply !rounded-full;
}
.btn-icon svg {
  @apply fill-current;
}
.btn-icon-xl {
  @apply h-16 w-16;
}
.btn-icon-lg {
  @apply h-12 w-12;
}
.btn-icon-sm {
  @apply h-8 w-8;
}
.btn-icon-xs {
  @apply h-6 w-6;
}
.btn-icon-xxs {
  @apply h-5 w-5;
}

/* Background light colors */
.bg-light-primary {
  @apply border-primary-light bg-primary-light text-primary;
}
.bg-light-secondary {
  @apply border-secondary-light bg-secondary-light text-secondary;
}
.bg-light-success {
  @apply border-success-light bg-success-light text-success;
}
.bg-light-danger {
  @apply border-danger-light bg-danger-light text-danger;
}
.bg-light-warning {
  @apply border-warning-light bg-warning-light text-warning;
}
.bg-light-info {
  @apply border-info-light bg-info-light text-info;
}
.bg-light-cyan {
  @apply text-cyan-500 bg-cyan-50 border-cyan-50;
}
.bg-light-indigo {
  @apply text-indigo-500 bg-indigo-50 border-indigo-50;
}
.bg-light-sky {
  @apply text-sky-500 bg-sky-100 border-sky-50;
}
.bg-light-orange {
  @apply text-orange-500 bg-orange-50 border-orange-50;
}
.bg-light-amber {
  @apply text-amber-500 bg-amber-50 border-amber-50;
}
.bg-light-emerald {
  @apply text-emerald-500 bg-emerald-50 border-emerald-50;
}
.bg-light-teal {
  @apply text-teal-500 bg-teal-50 border-teal-50;
}
.bg-light-violet {
  @apply text-violet-500 bg-violet-50 border-violet-50;
}
.bg-light-purple {
  @apply text-purple-500 bg-purple-50 border-purple-50;
}
.bg-light-fuchsia {
  @apply text-fuchsia-500 bg-fuchsia-50 border-fuchsia-50;
}
.bg-light-pink {
  @apply text-pink-500 bg-pink-50 border-pink-50;
}
.bg-light-rose {
  @apply text-rose-500 bg-rose-50 border-rose-50;
}
.bg-light-lime {
  @apply text-lime-500 bg-lime-50 border-lime-50;
}
.bg-light-slate {
  @apply text-slate-500 bg-slate-50 border-slate-50;
}
.bg-light-gray {
  @apply text-gray-500 bg-gray-50 border-gray-50;
}
.bg-light-dark {
  @apply border-dark-light bg-dark-light text-dark;
}

/* Badge */
.badge {
  @apply relative inline-flex items-center my-1 rounded-md px-2 py-1 text-xs font-medium text-white;
}
.badge-sm {
  @apply px-1.5 py-0.5 text-xs;
}

.badge-outline-primary {
  @apply border-primary text-primary ring-1 ring-inset ring-primary/10 hover:bg-primary-light dark:hover:bg-primary dark:hover:text-white-light;
}

.badge-outline-secondary {
  @apply border-secondary text-secondary ring-1 ring-inset ring-secondary/10 hover:bg-secondary-light dark:hover:bg-secondary dark:hover:text-white-light;
}

.badge-outline-success {
  @apply border-success text-success ring-1 ring-inset ring-success/10 hover:bg-success-light dark:hover:bg-success dark:hover:text-white-light;
}

.badge-outline-danger {
  @apply border-danger text-danger ring-1 ring-inset ring-danger/10 hover:bg-danger-light dark:hover:bg-danger dark:hover:text-white-light;
}

.badge-outline-warning {
  @apply border-warning text-warning ring-1 ring-inset ring-warning/10 hover:bg-warning-light dark:hover:bg-warning dark:hover:text-white-light;
}

.badge-outline-info {
  @apply border-info text-info ring-1 ring-inset ring-info/10 hover:bg-info-light dark:hover:bg-info dark:hover:text-white-light;
}

.badge-outline-dark {
  @apply border-dark text-dark ring-1 ring-inset ring-dark/10 hover:bg-dark-light dark:hover:bg-dark dark:hover:text-white-light;
}
.badge-primary {
  @apply text-white bg-primary;
}
.badge-success {
  @apply text-white bg-success;
}
.badge-danger {
  @apply text-white bg-danger;
}
.badge-warning {
  @apply text-white bg-warning;
}
.badge-info {
  @apply text-white bg-info;
}
.badge-fuchsia {
  @apply text-white bg-fuchsia-500;
}
.badge-purple {
  @apply text-white bg-purple-500;
}
.badge-light {
  @apply text-gray-700 bg-gray-100;
}
.badge-secondary {
  @apply text-gray-700 bg-gray-200;
}
.badge-dark {
  @apply text-white bg-dark;
}

.badge-light-primary {
  @apply text-primary bg-primary-light dark:bg-primary dark:text-white-light;
}
.badge-light-success {
  @apply text-success bg-success-light dark:bg-success dark:text-white-light;
}
.badge-light-danger {
  @apply text-danger bg-danger-light dark:bg-danger dark:text-white-light;
}
.badge-light-warning {
  @apply text-warning bg-warning-light dark:bg-warning dark:text-white-light;
}
.badge-light-info {
  @apply text-info bg-info-light dark:bg-info dark:text-white-light;
}
.badge-light-fuchsia {
  @apply text-fuchsia-500 bg-fuchsia-50 dark:bg-fuchsia-500 dark:text-white-light;
}
.badge-light-purple {
  @apply text-purple-500 bg-purple-50 dark:bg-purple-500 dark:text-white-light;
}
.badge-light-secondary {
  @apply text-gray-600 bg-[#EAEDEF] dark:bg-gray-600 dark:text-white-light;
}
.badge-light-dark {
  @apply text-dark bg-dark-light dark:bg-dark dark:text-white-light;
}
/* Bullets */
.bullet {
  @apply inline-block bg-gray-400 rounded-md w-2.5 h-2.5 flex-shrink-0;
}
.bullet-dot {
  @apply inline-block w-2.5 h-2.5 rounded-full flex-shrink-0 bg-gray-300;
}
.bullet-dot-xs {
  @apply w-1 h-1;
}
.bullet-dot-sm {
  @apply w-2 h-2;
}
/* indicators */
.indicator {
  @apply flex items-center text-sm font-medium text-gray-900 dark:text-white me-3;
}
.indicator-count {
  @apply absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-danger border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900;
}
.indicator-dot {
  @apply flex w-2.5 h-2.5 bg-gray-300 rounded-full me-1.5 flex-shrink-0;
}
.indicator-dot-xs {
  @apply w-1 h-1;
}
.indicator-dot-sm {
  @apply w-2 h-2;
}
.indicator-dot-md {
  @apply w-3 h-3;
}
.indicator-dot-lg {
  @apply w-3.5 h-3.5;
}
/* separator */
.separator {
  @apply block h-0 border-b border-gray-100;
}
.separator-dotted {
  @apply border-dotted;
}
.separator-dashed {
  @apply border-dashed;
}
